@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: 'Liu Jian Mao Cao', cursive;
  text-align: center;
  background: #f9efe5 url(/images/background.jpg) right bottom no-repeat;
  background-size: 40%;
}

.App label{
  margin: 60px 0 60px;
  font-size: 64px;
  font-weight: bold;
  color: #4f8bbc;
}

.App .button {
  background-color: #efb11b;
  padding: 25px 50px;
  border-radius: 50%;
  font-size: 45px;
  text-decoration: none;
  color: #f9efe5;
  font-weight: bold;
  box-shadow: 0 10px 1px 1px #f89c00;
}

.App .button:hover, .App .button:focus {
  background-color: #e891009e;
  box-shadow: 0 2px 1px 1px #f89c00;
  margin-top: 6px;
}

#file {
  display: none;
}

svg {
  width: 50%;
  height: 50%;
  fill: #4f8bbc;
  cursor: pointer;
}
